body {
	text-align: center;
}

a {
	text-decoration: none;
}

#wraper {
	width: 1000px;
	margin: 0 auto 0 auto;	
}

#footer {
	padding-top: 8px;
	padding-bottom: 8px;
	background-color: #1983b7;
	height: 24px;
	color: white;
	clear: both;	
}

#main {
	min-height: 400px;	
}

